* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 62.5%;
  font-family: 'Work Sans', sans-serif;
}

label {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="number"] {
  width: 100%;
  border: none;
  outline: none;
  color: #5a6677;
  font-size: 0.8rem;
  -webkit-appearance: none;
  background: transparent;
  border-bottom: 1px solid #EDF1F2;
  padding: 10px 5px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="number"]:focus {
  border-bottom: 1px solid #20BEBC;
}

textarea {
  outline: none;
  width: 100%;
  color: #5a6677;
  font-size: 0.8rem;
}

select {
  color: #5a6677;
  font-size: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: #000;
}

a:hover {
  color: #20BEBC;
}

.header {
  float: right;
  padding: 10px 10px 0 10px;
}

.header li {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
}

.header li:last-child {
  margin-right: 0;
}

/**
** App
**/
#app {
  border-top: 4px solid #20BEBC;
  width: 450px;
}

/**
** FORM
**/
.app-form_container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto 10px;
  padding: 0 10px;
}

.app-form_container .title {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #20BEBC;
}

.app-form_container label {
  display: block;
  margin: 30px 0;
}

.app-form_container .column {
  display: flex;
  flex-direction: row;
}

.app-form_container .column select {
  align-self: flex-end;
}

.app-form_container .column input {
  margin-left: 15px;
}

.app-form_button {
  cursor: pointer;
  outline: none;
  float: right;
  display: block;
  align-self: flex-end;
  padding: 10px;
  font-size: 0.9rem;
  border: none;
  background: #20BEBC;
  color: #fff;
  transition: all .3s ease-out;
  min-width: 75px;
  border-radius: 5px;
}

.app-form_button:hover {
  background: #EDF1F2;
  color: #000;
}

/**
** OPTIONS
**/
.options_container {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.options_container_title {
  font-size: 1.3em;
  color: #5a6677;
}

/**
** Notification
**/
.notification {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  -webkit-animation: show 0.5s ease-out;
  animation: show 0.5s ease-out;
}

.notification.active {
  display: block;
}

.notification_content {
  font-size: 1.2rem;
  padding: 10px;
  color: #fff;
  transition: background 0.4s ease-out;
}
.notification_content.success {
  background: #20BEBC;
}
.notification_content.failed {
  background: #EB5767;
}

.notification_title {
  font-weight: normal;
  margin-left: 10px;
}

.notification_message {
  font-size: 15px;
}

@-webkit-keyframes show {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes show {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/**
** Button loader
**/
.spinner {
  margin: 0 auto;
  text-align: center;
}

.spinner div {
  width: 15px;
  height: 15px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

